@import "fonts.css";
body {
    margin: 0;
    font-family: 'TT Firs Neue', serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.menu_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 8px 0;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.menu_item {
    padding-right: 34px;
    color: #2C2C2C;
}
.phone {
    font-weight: 600;
    font-size: 22px;
}
.underline {
    text-decoration: underline;
    color: #606060;
    font-size: 12px;
}
.work_wrapper {
    background-color: #2C2C2C;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;

}
.work span {
    color: #FFB816;
    font-size: 14px;
    font-weight: 600;
}
.work h1 {
    margin: 0;
    padding-top: 8px;
    letter-spacing: 1px;
}
.services p {
    color: #C9C9C9;
    line-height: 25px;
    margin-bottom: 0;
}
.work {
    padding: 92px 0 17px 0;

}
.button {
    padding: 40px 0 76px 0;

}
.button button {
    height: 53px;
    min-width: 204px;
    border-radius: 2px;
    border: none;
    background-color: #FFB816;
    font-size: 16px;
    font-family: 'TT Firs Neue', serif;
    font-weight: 600;
    cursor: pointer;
    color: #2C2C2C;
}


h1 {
    font-size: 50px;
    color: white;
    font-weight: 600;
}

h2 {
    /*TODO*/
}

h3 {
    /*TODO*/
}

h4 {
    /*TODO*/
}

.text {
    /*TODO*/
}

.send-button {
    /*TODO*/
}

.feedback-button {
    /*TODO*/
}


