@import "colors";
@import "base";
@import "buttons";

$width-stage: 224px;

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 8px 0;
  }
  &_item {
    padding-right: 34px;
    color: $black;
  }
  a {
    color: $black;
  }
}
.job_wrapper {
  background-color: $black;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 100px;
  padding: 92px 0 94px 0;
}

.work {
  &_wrapper {
    background-color: $black;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;
  }
  span {
    color: $orange;
    font-size: 14px;
    font-weight: 600;
  }
  h1 {
    margin: 0;
    padding-top: 8px;
    letter-spacing: 1px;
  }
}


.phone {
  font-weight: 600;
  font-size: 22px;
  a {
    color: $black;
  }
}
.underline {
  text-decoration: underline;
  color: #606060;
  font-size: 12px;
}
.services p {
  color: $gray-500;
  line-height: 25px;
  margin-bottom: 40px;
}

.chapter {
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  &_wrapper {
    margin-bottom: 100px;
  }
  &:after {
    content: '';
    width: 121px;
    height: 26px;
    background-color: $orange;
    margin-left: -80px;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.card_wrapper {
  display: flex;
  justify-content: space-between;

  .card_content {
    background-repeat: no-repeat;
    flex: 0 0 360px; //задается ширина для элемента внутри флекс контейнера
    height: 243px;
    padding: 30px;
    box-sizing: border-box;
  }

  .card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .card_more {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: $black;
  }
  a {
    color: $black ;
  }
}
.value {
  text-align: center;
  margin-bottom: 47px;
  position: relative;
  &_wrapper {
    margin-bottom: 100px;
  }
  &:after {
    content: '';
    width: 373px;
    height: 26px;
    background-color: $orange;
    margin-left: -379px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    }
}

.offer {
  &_wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &_image {
    margin-bottom: 21px;
    height: 112px;
  }
  &_stages {
    margin-bottom: 10px;
  }
  &_text {
    font-weight: 300;
    color: $gray-600;
    line-height: 24px;
  }

}

.work_wrapper {
  padding: 75px 0;
}
.question {
  color: white;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  &_text {
    color: $gray-500;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 64px;
  }
}

.about_wrapper{
  background-repeat: no-repeat;
  background-position: top 256px right;
  padding-bottom: 50px;
}
.about {
  text-align: center;
  position: relative;
  margin-bottom: 49px;
  &:after {
    content: '';
    width: 83px;
    height: 26px;
    background-color: $orange;
    margin-left: -68px;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.design_wrapper {
  display: flex;
  margin-bottom: 77px;
}
.design {
  padding-right: 177px;
  h3 {
    margin-bottom: 20px;
  }
  &_text {
    font-weight: 400;
    color:$gray-600;
    line-height: 24px;
    margin-bottom: 24px;
  }
}

.stages_wrapper {
  margin-bottom: 68px;
}

.stages_wrapper_title {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  margin-left: 172px;
  &:after {
    content: '';
    width: 180px;
    height: 26px;
    background-color: $orange;
    margin-left: -160px;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.stage {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 52px 105px;
  &:last-child{
    .image::after{
      display: none;
    }
  }
  h3 {
    font-weight: 700;
  }
  p {
    opacity: 0.8;
    color:$black;
    font-size: 18px;
  }
  &_images {
    flex: 0 0 $width-stage;
    display: flex;
    align-items: center;
    justify-content: center;
    .image {
      width: 52px;
      height: 52px;
      background-color:$black;
      align-items: center;
      justify-content: center;
      display: flex;
      border-radius: 50%;
      position: relative;
      &::after {
        content: '';
        width: 2px;
        height: 40px;
        background-color:$black ;
        bottom: -63px;
        position: absolute;
      }
    }
  }
  &_text {
    flex: 0 0 calc(50% - $width-stage / 2);
    text-align: right;
    &--left {
      text-align: left;
    }
  }
}

.contact_title {
  text-align: center;
  margin: 0 0 0 70px;
  position: relative;
  h2 {
    margin-bottom: 0;
  }
  &:after {
    content: '';
    width: 180px;
    height: 26px;
    background-color: $orange;
    margin-left: -108px;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.map_default {
  margin-bottom: 90px;
}
.footer_wrapper {
  display: flex;
  .project {
    margin-right: 118px;
    &_logo {
      margin: 5px 0  26px 0;
    }
    &_center {
      font-weight: 400;
      font-size: 14px;
      color: $black;
      opacity: 0.8;
      width: 175px;
    }
  }
  .contacts {
    margin-right: 156px;
    a {
      color: $black;
    }
    &_footer {
      margin-bottom: 26px;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0.07em;
      color:$black ;
      width: 233px;
    }
  }
  .navigation {
    width: 131px;
    margin-right: 132px;
    &_title {
      font-size: 20px;
      color: $black;
      font-weight: 600;
      margin:2px 0 22px 0;
    }
    &_text {
      font-weight: 400;
      color: $gray-600;
      margin-bottom: 26px;
      cursor: pointer;
    }
    a {
      color: $gray-600 ;
    }
  }
    .address {
      &_mail {
      font-weight: 400;
      font-size: 12px;
      color:$gray-600;
      margin: 2px 0 14px 0;
    }
      &_text {
      font-weight: 400;
      font-size: 18px;
      color: $black;
      margin-bottom: 14px;
      line-height: 28px;
        a {
          color: $black;
        }
    }
  }
}


.side {
  padding: 139px 0 133px 0;
  &_title {
    h1 {
      padding-top: 2px;
    }
  }
  &_text {
    margin-bottom: 48px;
  }
}

.list_title {
  text-align: center;
  position: relative;
  margin-bottom: 45px;
  &::after {
    content: '';
    width: 154px;
    height: 26px;
    background-color: $orange;
    margin-left: -153px;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.price {
  margin-bottom: 50px;
  &_design {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    border-radius: 5px;
    padding: 24px 40px 25px 40px;
  }
  &_text {
      flex-basis: 75%;
    h4 {
      color: white;
    }
  }
  &_cash {
    font-weight: 400;
    font-size: 20px;
    color: white;
    letter-spacing: 0.02em;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  background-color: $gray-400;
  padding: 40px 0 20px 40px;
  border-radius: 5px;
  &_wrapper {
    display: flex;
  }
  &_square {
    width: 16px;
    height: 16px;
    background-color: $orange;
    margin-right: 10px;
  }
  &_text {
    margin: 0 55px 30px 0;
  }
}

.work_side {
  margin-bottom: 101px;
}

.example{
  margin-bottom: 50px;
  &_title {
    text-align: center;
    position: relative;
    margin-bottom: 49px;
      &::after {
      content: '';
      width: 243px;
      height: 26px;
      background-color: $orange;
      margin-left: -238px;
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
  }
  &_image {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &_text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  &_plan {
    font-size: 14px;
    font-weight: 400;
    color: $gray-600;
    line-height: 22px;
  }
  &_home {
    margin-bottom: 10px;
  }
  &_wrapper {
    flex: 0 0 360px;
  }
  .contact_side {
    margin-bottom: 98px;
  }
}